USE [master]
GO
/****** Object:  Database [TimeDatabase]    Script Date: 31-Jul-17 10:17:00 PM ******/
CREATE DATABASE [TimeDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TimeDatabase.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TimeDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TimeDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimeDatabase]
GO
/****** Object:  Table [dbo].[Time]    Script Date: 31-Jul-17 10:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time](
	[userID] [int] NOT NULL,
	[StopT] [varchar](50) NULL,
	[RestartT] [varchar](50) NULL,
	[ElapseT] [varchar](50) NULL,
	[TotalT] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 31-Jul-17 10:17:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Time]  WITH CHECK ADD  CONSTRAINT [FK_Time_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Time] CHECK CONSTRAINT [FK_Time_User]
GO
USE [master]
GO
